/* 
* Challenge Name    : عمل اطار منقسم
* Start Date        : 21-2-2022
* Last Update       : 21-2-2022
* End Date          : 21-2-2022
* Contact Us        : mohammedmodather144@gmail.com
* Git Hub url       : https://github.com/MohammedModather2020
*/
/* 
* 1- General Style
   1.0- Universal Element
   1.1- Body Style
* 2- Section Style
   2.0- Splitted Frame
* 3- Common Style 
   3.0-  
*/
/** 1- General Style */
/**  1.0- Universal Element */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/** 1.1- Body Style */
body{
  background-color: #F6F6F6;
}
/** 2- Section Style */
/**  2.0- Splitted Frame */
.frame{
  position: relative;
  width: 550px;
  margin-top: 2rem;
  margin-inline: auto;
}
.frame::before,
.frame::after{
  position: absolute;
  content: "";
  top: 0;
  z-index: -1;
}
.frame::after{
  left: 50%;
  right: 0;
  height: calc(100% - 32px);
  background-color: #343A40;
  transform: translateY(16px) translateX(20px);
  -webkit-transform: translateY(16px) translateX(20px);
  -moz-transform: translateY(16px) translateX(20px);
  -ms-transform: translateY(16px) translateX(20px);
  -o-transform: translateY(16px) translateX(20px);
}
.frame::before{
  left: 0;
  right: 50%;
  bottom: 0;
  border-width: 1rem 0 1rem 1rem;
  border-style: solid;
  border-color:#343A40;
  border-start-start-radius: .5rem;
  border-end-start-radius: .5rem;
  transform:  translateX(20px);
  -webkit-transform:  translateX(20px);
  -moz-transform:  translateX(20px);
  -ms-transform:  translateX(20px);
  -o-transform:  translateX(20px);
}
.frame .image{
 padding-top: 2.5rem;
 padding-bottom: 1rem;
 padding-inline: 3rem;
 width: 100%;
}